body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background: #1976d2;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  padding: 50px;
  text-align: center;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  color: white;
}

.navbar{
  background: #1976d2;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: rgb(255, 255, 255);
}

h2{
  background: orange;
  color: grey;
}

.center-box{
  width: 300px;
  margin: auto;
  padding: 3px solid rgb(41, 119, 31);
  background: rgb(177, 177, 177);
  text-align: center;

}
.weather-card {
  max-width: 400px;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

.recent {
  max-width: 400px;
  margin: 20px auto;
}

.about-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.about-container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.about-intro {
  text-align: center;
  margin-bottom: 40px;
  color: #555;
}

.profile-card {
  background: white;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-card h2 {
  margin-bottom: 15px;
}
