body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.center-box {
    width: 200px;
    margin: auto;
    padding: 15px;
    border: 1px solid rgb(35, 178, 16);
    background: rgb(7, 3, 137);
    text-align: center;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    color: rgb(163, 151, 151);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.center-box {
    width: 300px;
    margin: 60px auto;
    padding: 25px;
    border: 2px solid #241c01;
    border-radius: 10px;
    background: white;
    text-align: center;
}

.form-title {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

form input[type="text"] {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
}

.submit-btn {
    margin-top: 20px;
    padding: 8px 15px;
    background-color: #c9a227;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #b38f1d;
}


.navbar {
  background: #1976d2;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: white;
}
         
h2 {
  color: rgb(7, 21, 76);
  font-weight: bold;
}

label {
  color: rgb(65, 66, 24);
  font-weight: bold;
}

input[type="submit"] {
  background-color: rgb(247, 245, 126);
}


.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  padding: 50px;
  text-align: center;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  color: white;
}

.weather-card {
  max-width: 400px;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

.recent {
  max-width: 400px;
  margin: 20px auto;
}

.about-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.about-container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.about-intro {
  text-align: center;
  margin-bottom: 40px;
  color: #555;
}

.profile-card {
  background: white;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-card h2 {
  margin-bottom: 15px;
}
